<p style="color: green;"><%= notice %></p>

<h1>Welcome to Group 2's CanCanCan Demo!</h1>

<% if user_signed_in? %>
  <p>Hi <strong><%= current_user.email %></strong>! You’re logged in.</p>

  <p>
    <%= link_to "Home", root_path %> |
    <%= link_to "New Post", new_post_path %>
  </p>

  <%= form_with url: destroy_user_session_path, method: :delete do %>
    <%= submit_tag "Log out", style: "background: none; border: none; color: blue; text-decoration: underline; cursor: pointer;" %>
  <% end %>
<% else %>
  <p>Please <%= link_to "Sign up", new_user_registration_path %> or 
  <%= link_to "Log in", new_user_session_path %> to continue.</p>
<% end %>

<hr>

<h2>All Posts</h2>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p><%= link_to "View", post_path(post) %></p>
  <% end %>
</div>
